<div id="header_wrap">
    <div id="header">
        <div style="float: left; width: 310px;">
            <h1>
                <a href="/" title="DEMO12演示站"></a>
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>
        <div id="navi">

        <ul id="jsddm">
            <li><a class="navi_home" href="{:url('index/index')}">首页</a></li>
            {volist name="cates" id='vo'}
            <li>
                <a
                    {if condition="$vo.children neq 0"} class="havechild" {/if}
                    href="
                        {switch name='$vo.type' }
                            {case value='1'}{:url('artlist/index',array('cateid'=>$vo.id))}{/case}
                            {case value='2'}{:url('page/index',array('cateid'=>$vo.id))}{/case}
                            {case value='3'}{:url('imglist/index',array('cateid'=>$vo.id))}{/case}
                        {/switch}">{$vo.catename}</a>
                {if condition="$vo.children neq 0"}
                    <ul>
                        {volist name="vo.children" id='vo2'}
                        <li><a  href="
                            {switch name='$vo.type' }
                                {case value='1'}{:url('artlist/index',array('cateid'=>$vo2.id))}{/case}
                                {case value='2'}{:url('page/index',array('cateid'=>$vo2.id))}{/case}
                                {case value='3'}{:url('imglist/index',array('cateid'=>$vo2.id))}{/case}
                            {/switch}">{$vo2.catename}</a></li>
                        {/volist}
                    </ul>
                {/if}
            </li>
            {/volist}

        </ul>

            <div style="clear: both;">
            </div>

            
        </div>
        <div style="float: right; width: 209px;">
            <div class="widget" style="height: 30px; padding-top: 20px;">
                <div style="float: left;">
                    <form  name="formsearch" action="{:url('search/index')}" method="GET">
                        <input type="hidden" name="kwtype" value="0" />                
                        <input name="keyword" type="text" style="background-color: #fff;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" />
                    </form>
                </div>
                <div style="float: left;">
                    <img src="__INDEX__/images/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                        padding: 0px;" onclick="subForm()" /></div>
                <div style="clear: both;"></div>
            </div>
        </div>
        
    </div>
</div>